<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @* JavaScript bundles. *@
    @Scripts.Render("~/bundles/knockout.js")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
